.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #ffff;
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper h1 {
  position: absolute;
  font-size: 50px;
}

.wrapper::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.76);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.goToHomeButton {
  display: flex;
  justify-content: center;
  margin-top: -300px;
}

.buttonDiv {
  position: absolute;
}

.goToHomeButton button {
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background-color: #ffff;
  border: none;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  transition: color 0.6s;
  color: #ffc107;
  cursor: pointer;
}

.goToHomeButton button:hover {
  background-color: rgb(31, 30, 30);
}
